<a href="https://colab.research.google.com/github/KWeatherwalks/DS-Unit-2-Linear-Models/blob/master/module3-ridge-regression/Kevin_Weatherwalks_LS_DS_213_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 3*

---

# Ridge Regression

## Assignment

We're going back to our other **New York City** real estate dataset. Instead of predicting apartment rents, you'll predict property sales prices.

But not just for condos in Tribeca...

- [ ] Use a subset of the data where `BUILDING_CLASS_CATEGORY` == `'01 ONE FAMILY DWELLINGS'` and the sale price was more than 100 thousand and less than 2 million.
- [ ] Do train/test split. Use data from January â€”Â March 2019 to train. Use data from April 2019 to test.
- [ ] Do one-hot encoding of categorical features.
- [ ] Do feature selection with `SelectKBest`.
- [ ] Fit a ridge regression model with multiple features. Use the `normalize=True` parameter (or do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) beforehand â€”Â use the scaler's `fit_transform` method with the train set, and the scaler's `transform` method with the test set)
- [ ] Get mean absolute error for the test set.
- [ ] As always, commit your notebook to your fork of the GitHub repo.

The [NYC Department of Finance](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page) has a glossary of property sales terms and NYC Building Class Code Descriptions. The data comes from the [NYC OpenData](https://data.cityofnewyork.us/browse?q=NYC%20calendar%20sales) portal.


## Stretch Goals

Don't worry, you aren't expected to do all these stretch goals! These are just ideas to consider and choose from.

- [ ] Add your own stretch goal(s) !
- [ ] Instead of `Ridge`, try `LinearRegression`. Depending on how many features you select, your errors will probably blow up! ðŸ’¥
- [ ] Instead of `Ridge`, try [`RidgeCV`](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.RidgeCV.html).
- [ ] Learn more about feature selection:
    - ["Permutation importance"](https://www.kaggle.com/dansbecker/permutation-importance)
    - [scikit-learn's User Guide for Feature Selection](https://scikit-learn.org/stable/modules/feature_selection.html)
    - [mlxtend](http://rasbt.github.io/mlxtend/) library
    - scikit-learn-contrib libraries: [boruta_py](https://github.com/scikit-learn-contrib/boruta_py) & [stability-selection](https://github.com/scikit-learn-contrib/stability-selection)
    - [_Feature Engineering and Selection_](http://www.feat.engineering/) by Kuhn & Johnson.
- [ ] Try [statsmodels](https://www.statsmodels.org/stable/index.html) if youâ€™re interested in more inferential statistical approach to linear regression and feature selection, looking at p values and 95% confidence intervals for the coefficients.
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapters 1-3, for more math & theory, but in an accessible, readable way.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')
warnings.filterwarnings(action='ignore', category=FutureWarning, module='category_encoder')
warnings.filterwarnings(action='ignore', category=UserWarning, module='sklearn')
warnings.filterwarnings(action='ignore', category=RuntimeWarning, module='sklearn')

# I. Wrangle Data

In [2]:
import pandas as pd
import pandas_profiling
import numpy as np

def wrangle(filepath):
  # Read New York City property sales data
  df = pd.read_csv(filepath, parse_dates=['SALE DATE','YEAR BUILT'],
                   infer_datetime_format=True,
                   index_col='SALE DATE',
                   dtype={'BLOCK': object,
                          'LOT': object}
                   )

  # Change column names: replace spaces with underscores
  df.columns = [col.replace(' ', '_') for col in df]
  df.index.name = df.index.name.replace(' ', '_')


  # SALE_PRICE was read as strings.
  # Remove symbols, convert to integer
  df['SALE_PRICE'] = (
      df['SALE_PRICE']
      .str.replace('$','')
      .str.replace('-','')
      .str.replace(',','')
      .astype(int)
  )
  # LAND_SQUARE_FEET is a string
  # Remove symbols, empty strings, convert to float
  df['LAND_SQUARE_FEET'] = (
      df['LAND_SQUARE_FEET']
      .str.replace(',','')
      .str.replace('#','')
      .apply(lambda x: 0 if len(str(x))==0 else x)
      .astype(float)
  )

  # Subset data
  condition = (
      (df['BUILDING_CLASS_CATEGORY']=='01 ONE FAMILY DWELLINGS') &
      (df['SALE_PRICE'] > 100_000) & (df['SALE_PRICE']<2_000_000)
               )
  df = df[condition]

  # BOROUGH is a numeric column, but arguably should be a categorical feature,
  # so convert it from a number to a string
  df['BOROUGH'] = df['BOROUGH'].astype(str)

  # Reduce cardinality for NEIGHBORHOOD feature

  # Get a list of the top 10 neighborhoods
  top10 = df['NEIGHBORHOOD'].value_counts()[:10].index

  # At locations where the neighborhood is NOT in the top 10, 
  # replace the neighborhood with 'OTHER'
  df.loc[~df['NEIGHBORHOOD'].isin(top10), 'NEIGHBORHOOD'] = 'OTHER'
  

  # Drop columns with null data
  df.drop(columns=['APARTMENT_NUMBER', 'EASE-MENT'], inplace=True)

  # Drop columns with too many categories
  drop_cols = [col for col in df.select_dtypes('object') if df[col].nunique() > 15]
  df.drop(columns=drop_cols, inplace=True)

  return df

In [3]:
FILE_PATH = DATA_PATH+'condos/NYC_Citywide_Rolling_Calendar_Sales.csv'
df = wrangle(FILE_PATH)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3151 entries, 2019-01-01 to 2019-04-30
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         3151 non-null   object
 1   NEIGHBORHOOD                    3151 non-null   object
 2   BUILDING_CLASS_CATEGORY         3151 non-null   object
 3   TAX_CLASS_AT_PRESENT            3151 non-null   object
 4   BUILDING_CLASS_AT_PRESENT       3151 non-null   object
 5   ZIP_CODE                        3151 non-null   float64
 6   RESIDENTIAL_UNITS               3151 non-null   float64
 7   COMMERCIAL_UNITS                3151 non-null   float64
 8   TOTAL_UNITS                     3151 non-null   float64
 9   LAND_SQUARE_FEET                3151 non-null   float64
 10  GROSS_SQUARE_FEET               3151 non-null   float64
 11  TAX_CLASS_AT_TIME_OF_SALE       3151 non-null   int64
 12  BUILDING_CLASS_AT_TIME_OF_SALE  3151 non-null   object
 13  SALE_PRICE                      3151 non-null   int64
dtypes: float64(6), int64(2), object(6)
memory usage: 369.3+ KB

In [5]:
df.select_dtypes(include='object').sample(3)

           BOROUGH  ... BUILDING_CLASS_AT_TIME_OF_SALE
SALE_DATE           ...
2019-01-02       5  ...                             A2
2019-02-27       3  ...                             A1
2019-04-11       4  ...                             A1

[3 rows x 6 columns]

In [6]:
df.select_dtypes(include='object').nunique()

BOROUGH                            5
NEIGHBORHOOD                      11
BUILDING_CLASS_CATEGORY            1
TAX_CLASS_AT_PRESENT               2
BUILDING_CLASS_AT_PRESENT         13
BUILDING_CLASS_AT_TIME_OF_SALE    11
dtype: int64

In [7]:
df.select_dtypes(include='number').sample(3)

            ZIP_CODE  RESIDENTIAL_UNITS  ...  TAX_CLASS_AT_TIME_OF_SALE  SALE_PRICE
SALE_DATE                                ...
2019-03-12   11234.0                1.0  ...                          1      635000
2019-02-21   10310.0                1.0  ...                          1      625000
2019-01-11   10465.0                1.0  ...                          1      570000

[3 rows x 8 columns]

# II. Split Data

In [8]:
# Split data into X matrix and y vector
target = 'SALE_PRICE'
y = df[target]
X = df.drop(columns=[target])

In [9]:
# Split data into training and test sets
train_mask = (df.index >= '2019-01') & (df.index < '2019-04')
test_mask = (df.index >= '2019-04') & (df.index < '2019-05')
X_train, y_train = X[train_mask], y[train_mask]
X_test, y_test = X[test_mask], y[test_mask]

# III. Establish Baseline

In [10]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

y_mean = [y_test.mean()] * len(y_test)
y_median = [y_test.median()] * len(y_test)

print('Mean Price MAE:', mean_absolute_error(y_test, y_mean))
print('Median Price MAE:', mean_absolute_error(y_test, y_median))

Mean Price MAE: 216602.40811504182
Median Price MAE: 210659.02639751552

# IV. Build Model

In [11]:
# Import classes
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV
from category_encoders import OneHotEncoder
from sklearn.feature_selection import SelectKBest

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [12]:
# One-hot encoding
ohe = OneHotEncoder(use_cat_names=True)
feature_selector = SelectKBest(k=2)

# Fit OHE to training data
ohe.fit(X_train)
ohe.fit(X_test)
# Transform data for feature selection
XT_train = ohe.transform(X_train)
XT_test = ohe.transform(X_test)

# Select k best features
feature_selector.fit(XT_train, y_train)

# Transform data for regression
XTT_train = feature_selector.transform(XT_train)
XTT_test = feature_selector.transform(XT_test)

In [13]:
XT_train.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2507 entries, 2019-01-01 to 2019-03-30
Data columns (total 47 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   BOROUGH_2                                        2507 non-null   int64
 1   BOROUGH_3                                        2507 non-null   int64
 2   BOROUGH_4                                        2507 non-null   int64
 3   BOROUGH_5                                        2507 non-null   int64
 4   BOROUGH_1                                        2507 non-null   int64
 5   NEIGHBORHOOD_OTHER                               2507 non-null   int64
 6   NEIGHBORHOOD_FLUSHING-SOUTH                      2507 non-null   int64
 7   NEIGHBORHOOD_QUEENS VILLAGE                      2507 non-null   int64
 8   NEIGHBORHOOD_SO. JAMAICA-BAISLEY PARK            2507 non-null   int64
 9   NEIGHBORHOOD_SPRINGFIELD GARDENS                 2507 non-null   int64
 10  NEIGHBORHOOD_BAYSIDE                             2507 non-null   int64
 11  NEIGHBORHOOD_FLUSHING-NORTH                      2507 non-null   int64
 12  NEIGHBORHOOD_LAURELTON                           2507 non-null   int64
 13  NEIGHBORHOOD_SOUTH OZONE PARK                    2507 non-null   int64
 14  NEIGHBORHOOD_ST. ALBANS                          2507 non-null   int64
 15  NEIGHBORHOOD_GREAT KILLS                         2507 non-null   int64
 16  BUILDING_CLASS_CATEGORY_01 ONE FAMILY DWELLINGS  2507 non-null   int64
 17  TAX_CLASS_AT_PRESENT_1                           2507 non-null   int64
 18  TAX_CLASS_AT_PRESENT_1D                          2507 non-null   int64
 19  BUILDING_CLASS_AT_PRESENT_A1                     2507 non-null   int64
 20  BUILDING_CLASS_AT_PRESENT_A2                     2507 non-null   int64
 21  BUILDING_CLASS_AT_PRESENT_A5                     2507 non-null   int64
 22  BUILDING_CLASS_AT_PRESENT_A9                     2507 non-null   int64
 23  BUILDING_CLASS_AT_PRESENT_A8                     2507 non-null   int64
 24  BUILDING_CLASS_AT_PRESENT_A0                     2507 non-null   int64
 25  BUILDING_CLASS_AT_PRESENT_B2                     2507 non-null   int64
 26  BUILDING_CLASS_AT_PRESENT_S1                     2507 non-null   int64
 27  BUILDING_CLASS_AT_PRESENT_A6                     2507 non-null   int64
 28  BUILDING_CLASS_AT_PRESENT_A4                     2507 non-null   int64
 29  BUILDING_CLASS_AT_PRESENT_A3                     2507 non-null   int64
 30  ZIP_CODE                                         2507 non-null   float64
 31  RESIDENTIAL_UNITS                                2507 non-null   float64
 32  COMMERCIAL_UNITS                                 2507 non-null   float64
 33  TOTAL_UNITS                                      2507 non-null   float64
 34  LAND_SQUARE_FEET                                 2507 non-null   float64
 35  GROSS_SQUARE_FEET                                2507 non-null   float64
 36  TAX_CLASS_AT_TIME_OF_SALE                        2507 non-null   int64
 37  BUILDING_CLASS_AT_TIME_OF_SALE_A1                2507 non-null   int64
 38  BUILDING_CLASS_AT_TIME_OF_SALE_A2                2507 non-null   int64
 39  BUILDING_CLASS_AT_TIME_OF_SALE_A5                2507 non-null   int64
 40  BUILDING_CLASS_AT_TIME_OF_SALE_A9                2507 non-null   int64
 41  BUILDING_CLASS_AT_TIME_OF_SALE_A8                2507 non-null   int64
 42  BUILDING_CLASS_AT_TIME_OF_SALE_A0                2507 non-null   int64
 43  BUILDING_CLASS_AT_TIME_OF_SALE_S1                2507 non-null   int64
 44  BUILDING_CLASS_AT_TIME_OF_SALE_A6                2507 non-null   int64
 45  BUILDING_CLASS_AT_TIME_OF_SALE_A4                2507 non-null   int64
 46  BUILDING_CLASS_AT_TIME_OF_SALE_A3                2507 non-null   int64
dtypes: float64(6), int64(41)
memory usage: 940.1 KB

In [14]:
XTT_train.shape

(2507, 2)

In [15]:
# Build Regression Models
model_linear = LinearRegression()
model_ridge = Ridge(alpha=2.0)
model_ridgeCV = RidgeCV(alphas=(0.1,1.0,10.0))

# Fit models
model_linear.fit(XTT_train, y_train)
model_ridge.fit(XTT_train, y_train)
model_ridgeCV.fit(XTT_train, y_train)

RidgeCV(alphas=array([ 0.1,  1. , 10. ]), cv=None, fit_intercept=True,
        gcv_mode=None, normalize=False, scoring=None, store_cv_values=False)

# V. Check Metrics

In [16]:
def display_score(text, score):
  score = round(score, 2)
  output = '{}:\t {:>13.2f}'.format(text, score)
  print(output)
  return None

In [18]:
# Baseline Stats
print(10*'-' + 'Baseline Metrics' + 10*'-')
print('Mean Price MAE:\t ', round(mean_absolute_error(y_test, y_mean),2))
print('Median Price MAE:', round(mean_absolute_error(y_test, y_median),2))
print()

print(10*'-' + 'Linear Regression Metrics' + 10*'-')
display_score('Train MAE', 
              mean_absolute_error(y_train, model_linear.predict(XTT_train)))
display_score('Test MAE', mean_absolute_error(y_test, 
                                              model_linear.predict(XTT_test)))
display_score('Train RMSE:', 
              mean_squared_error(y_train, 
                                 model_linear.predict(XTT_train),
                                 squared=False))
display_score('Test RMSE', 
              mean_squared_error(y_test, 
                                 model_linear.predict(XTT_test),
                                 squared=False))

print(10*'-' + 'Ridge Regression Metrics' + 10*'-')
display_score('Train MAE', 
              mean_absolute_error(y_train, 
                                  model_ridge.predict(XTT_train)))
display_score('Test MAE', 
              mean_absolute_error(y_test, 
                                  model_ridge.predict(XTT_test)))
display_score('Train RMSE', 
              mean_squared_error(y_train, 
                                 model_ridge.predict(XTT_train),
                                 squared=False))
display_score('Test RMSE', 
              mean_squared_error(y_test, 
                                 model_ridge.predict(XTT_test),
                                 squared=False))

print(10*'-' + 'RidgeCV Metrics' + 10*'-')
display_score('Train MAE', 
              mean_absolute_error(y_train, 
                                  model_ridgeCV.predict(XTT_train)))
display_score('Test MAE', 
              mean_absolute_error(y_test, 
                                  model_ridgeCV.predict(XTT_test)))
display_score('Train RMSE:', 
              mean_squared_error(y_train, 
                                 model_ridgeCV.predict(XTT_train),
                                 squared=False))
display_score('Test RMSE', 
              mean_squared_error(y_test, 
                                 model_ridgeCV.predict(XTT_test),
                                 squared=False))

----------Baseline Metrics----------
Mean Price MAE:	  216602.41
Median Price MAE: 210659.03

----------Linear Regression Metrics----------
Train MAE:	     209218.29
Test MAE:	     206567.01
Train RMSE::	     282587.20
Test RMSE:	     291771.72
----------Ridge Regression Metrics----------
Train MAE:	     209420.27
Test MAE:	     206731.46
Train RMSE:	     282615.63
Test RMSE:	     292226.32
----------RidgeCV Metrics----------
Train MAE:	     209331.53
Test MAE:	     206651.84
Train RMSE::	     282596.19
Test RMSE:	     292077.15

# VI. Tune Model

In [21]:
previous_features = set()
# Baseline metrics to compare to best model
min_MAE = min(mean_absolute_error(y_test, y_mean),
              mean_absolute_error(y_test, y_median))
min_RMSE = min(mean_squared_error(y_test, y_mean, squared=False),
               mean_squared_error(y_test, y_median, squared=False))
# Establish a best model
best_model = model_ridge
for num_features in range(1,len(XT_train.columns)+1):
  # Transform data
  feature_selector = SelectKBest(k=num_features)

  # Select k best features
  feature_selector.fit(XT_train, y_train)

  # Transform data for regression
  XTT_train = feature_selector.transform(XT_train)
  XTT_test = feature_selector.transform(XT_test)
  
  # Update features
  new_features = set(XT_train.columns[feature_selector.get_support()])
  added_features = new_features.difference(previous_features)
  previous_features = new_features


  # Fit model
  model = Ridge(alpha=2.0)
  model.fit(XTT_train, y_train)

  # Print results
  print(60*'-')
  print(10*'-' + f'Ridge Regression Metrics with {num_features} features' + 10*'-')
  print('Features added:\t', added_features)
  display_score('Train MAE', 
                mean_absolute_error(y_train, 
                                    model.predict(XTT_train)))
  display_score('Test MAE', 
                mean_absolute_error(y_test, 
                                    model.predict(XTT_test)))
  display_score('Train RMSE', 
                mean_squared_error(y_train, 
                                  model.predict(XTT_train),
                                  squared=False))
  display_score('Test RMSE', 
                mean_squared_error(y_test, 
                                  model.predict(XTT_test),
                                  squared=False))
  print(60*'-')


  # Update best model
  current_mae = mean_absolute_error(y_test, model.predict(XTT_test))
  current_rmse = mean_squared_error(y_test,
                                    model.predict(XTT_test), 
                                    squared=False)
  if current_rmse < min_RMSE:
    best_model = model
    best_features = new_features
    min_RMSE = current_rmse
  if current_mae < min_MAE:
    min_MAE = current_mae

------------------------------------------------------------
----------Ridge Regression Metrics with 1 features----------
Features added:	 {'BOROUGH_1'}
Train MAE:	     214702.48
Test MAE:	     211563.09
Train RMSE:	     291543.82
Test RMSE:	     298531.70
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 2 features----------
Features added:	 {'BUILDING_CLASS_AT_TIME_OF_SALE_A3'}
Train MAE:	     209420.27
Test MAE:	     206731.46
Train RMSE:	     282615.63
Test RMSE:	     292226.32
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 3 features----------
Features added:	 {'BUILDING_CLASS_AT_PRESENT_A3'}
Train MAE:	     209341.64
Test MAE:	     206652.33
Train RMSE:	     282598.38
Test RMSE:	     292170.41
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 4 features----------
Features added:	 {'BUILDING_CLASS_AT_TIME_OF_SALE_A6'}
Train MAE:	     207972.11
Test MAE:	     206243.71
Train RMSE:	     281195.60
Test RMSE:	     291342.71
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 5 features----------
Features added:	 {'BUILDING_CLASS_AT_PRESENT_A6'}
Train MAE:	     207936.15
Test MAE:	     206216.33
Train RMSE:	     281179.55
Test RMSE:	     291308.46
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 6 features----------
Features added:	 {'GROSS_SQUARE_FEET'}
Train MAE:	     191599.14
Test MAE:	     182408.92
Train RMSE:	     258040.51
Test RMSE:	     261202.20
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 7 features----------
Features added:	 {'COMMERCIAL_UNITS'}
Train MAE:	     191166.87
Test MAE:	     183089.16
Train RMSE:	     257442.25
Test RMSE:	     262219.42
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 8 features----------
Features added:	 {'TOTAL_UNITS'}
Train MAE:	     190914.11
Test MAE:	     183444.98
Train RMSE:	     257336.13
Test RMSE:	     262417.81
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 9 features----------
Features added:	 {'BUILDING_CLASS_AT_TIME_OF_SALE_A8'}
Train MAE:	     190873.50
Test MAE:	     183400.73
Train RMSE:	     257329.64
Test RMSE:	     262433.43
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 10 features----------
Features added:	 {'BUILDING_CLASS_AT_PRESENT_A8'}
Train MAE:	     190865.72
Test MAE:	     183390.77
Train RMSE:	     257328.97
Test RMSE:	     262442.75
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 11 features----------
Features added:	 {'TAX_CLASS_AT_PRESENT_1D'}
Train MAE:	     190862.60
Test MAE:	     183386.37
Train RMSE:	     257328.77
Test RMSE:	     262447.55
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 12 features----------
Features added:	 {'RESIDENTIAL_UNITS'}
Train MAE:	     190861.12
Test MAE:	     183431.04
Train RMSE:	     257328.68
Test RMSE:	     262469.53
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 13 features----------
Features added:	 {'TAX_CLASS_AT_PRESENT_1'}
Train MAE:	     190860.17
Test MAE:	     183421.01
Train RMSE:	     257328.63
Test RMSE:	     262467.21
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 14 features----------
Features added:	 {'NEIGHBORHOOD_SOUTH OZONE PARK'}
Train MAE:	     190851.84
Test MAE:	     183205.84
Train RMSE:	     257273.75
Test RMSE:	     262416.01
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 15 features----------
Features added:	 {'ZIP_CODE'}
Train MAE:	     182177.54
Test MAE:	     182368.92
Train RMSE:	     247689.59
Test RMSE:	     258109.03
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 16 features----------
Features added:	 {'BUILDING_CLASS_AT_TIME_OF_SALE_A4'}
Train MAE:	     182003.63
Test MAE:	     182434.41
Train RMSE:	     247533.69
Test RMSE:	     258087.03
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 17 features----------
Features added:	 {'BUILDING_CLASS_AT_PRESENT_A4'}
Train MAE:	     181991.05
Test MAE:	     182445.07
Train RMSE:	     247531.51
Test RMSE:	     258093.55
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 18 features----------
Features added:	 {'BOROUGH_5'}
Train MAE:	     181720.79
Test MAE:	     182618.81
Train RMSE:	     247513.60
Test RMSE:	     258365.68
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 19 features----------
Features added:	 {'BUILDING_CLASS_AT_PRESENT_A5'}
Train MAE:	     181655.50
Test MAE:	     183515.48
Train RMSE:	     247182.20
Test RMSE:	     258828.24
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 20 features----------
Features added:	 {'BUILDING_CLASS_AT_TIME_OF_SALE_A5'}
Train MAE:	     181649.69
Test MAE:	     183513.21
Train RMSE:	     247181.31
Test RMSE:	     258827.00
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 21 features----------
Features added:	 {'NEIGHBORHOOD_ST. ALBANS'}
Train MAE:	     179017.21
Test MAE:	     184488.92
Train RMSE:	     243924.82
Test RMSE:	     259710.93
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 22 features----------
Features added:	 {'NEIGHBORHOOD_BAYSIDE'}
Train MAE:	     177282.29
Test MAE:	     181948.93
Train RMSE:	     242921.40
Test RMSE:	     258273.64
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 23 features----------
Features added:	 {'BUILDING_CLASS_AT_TIME_OF_SALE_S1'}
Train MAE:	     177087.84
Test MAE:	     181744.80
Train RMSE:	     242342.45
Test RMSE:	     257909.45
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 24 features----------
Features added:	 {'BUILDING_CLASS_AT_PRESENT_S1'}
Train MAE:	     177052.54
Test MAE:	     181709.42
Train RMSE:	     242281.90
Test RMSE:	     257853.46
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 25 features----------
Features added:	 {'BOROUGH_4'}
Train MAE:	     176808.00
Test MAE:	     182219.38
Train RMSE:	     240629.49
Test RMSE:	     255616.18
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 26 features----------
Features added:	 {'BOROUGH_3'}
Train MAE:	     168559.09
Test MAE:	     174452.37
Train RMSE:	     230845.25
Test RMSE:	     246013.80
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 27 features----------
Features added:	 {'LAND_SQUARE_FEET'}
Train MAE:	     164723.58
Test MAE:	     169866.88
Train RMSE:	     227321.81
Test RMSE:	     238964.79
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 28 features----------
Features added:	 {'BOROUGH_2'}
Train MAE:	     164398.84
Test MAE:	     169717.61
Train RMSE:	     227004.75
Test RMSE:	     238322.23
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 29 features----------
Features added:	 {'NEIGHBORHOOD_FLUSHING-NORTH'}
Train MAE:	     160937.30
Test MAE:	     166700.32
Train RMSE:	     224814.41
Test RMSE:	     237673.48
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 30 features----------
Features added:	 {'NEIGHBORHOOD_OTHER'}
Train MAE:	     159869.22
Test MAE:	     165118.63
Train RMSE:	     223535.43
Test RMSE:	     235364.70
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 31 features----------
Features added:	 {'BUILDING_CLASS_AT_TIME_OF_SALE_A1'}
Train MAE:	     159864.19
Test MAE:	     165157.11
Train RMSE:	     223528.04
Test RMSE:	     235332.21
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 32 features----------
Features added:	 {'BUILDING_CLASS_AT_PRESENT_A1'}
Train MAE:	     159864.19
Test MAE:	     165159.70
Train RMSE:	     223528.03
Test RMSE:	     235333.99
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 33 features----------
Features added:	 {'NEIGHBORHOOD_SPRINGFIELD GARDENS'}
Train MAE:	     159200.63
Test MAE:	     165904.54
Train RMSE:	     223066.97
Test RMSE:	     235551.95
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 34 features----------
Features added:	 {'NEIGHBORHOOD_GREAT KILLS'}
Train MAE:	     157926.62
Test MAE:	     165713.68
Train RMSE:	     222141.17
Test RMSE:	     234944.45
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 35 features----------
Features added:	 {'NEIGHBORHOOD_LAURELTON'}
Train MAE:	     157724.60
Test MAE:	     164986.51
Train RMSE:	     221730.65
Test RMSE:	     234334.75
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 36 features----------
Features added:	 {'NEIGHBORHOOD_FLUSHING-SOUTH'}
Train MAE:	     156045.04
Test MAE:	     163015.18
Train RMSE:	     219850.79
Test RMSE:	     233011.65
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 37 features----------
Features added:	 {'NEIGHBORHOOD_SO. JAMAICA-BAISLEY PARK'}
Train MAE:	     156044.40
Test MAE:	     162970.38
Train RMSE:	     219861.58
Test RMSE:	     233022.08
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 38 features----------
Features added:	 {'BUILDING_CLASS_AT_TIME_OF_SALE_A0'}
Train MAE:	     156044.70
Test MAE:	     162969.77
Train RMSE:	     219856.09
Test RMSE:	     233032.67
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 39 features----------
Features added:	 {'BUILDING_CLASS_AT_PRESENT_A0'}
Train MAE:	     156044.75
Test MAE:	     162969.76
Train RMSE:	     219856.02
Test RMSE:	     233032.88
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 40 features----------
Features added:	 {'BUILDING_CLASS_AT_TIME_OF_SALE_A2'}
Train MAE:	     156116.03
Test MAE:	     163044.67
Train RMSE:	     219826.26
Test RMSE:	     233013.54
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 41 features----------
Features added:	 {'BUILDING_CLASS_AT_PRESENT_A2'}
Train MAE:	     156096.79
Test MAE:	     163047.26
Train RMSE:	     219769.22
Test RMSE:	     233026.67
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 42 features----------
Features added:	 {'BUILDING_CLASS_AT_TIME_OF_SALE_A9'}
Train MAE:	     156075.36
Test MAE:	     163034.84
Train RMSE:	     219742.20
Test RMSE:	     232975.06
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 43 features----------
Features added:	 {'BUILDING_CLASS_AT_PRESENT_A9'}
Train MAE:	     156073.02
Test MAE:	     163033.47
Train RMSE:	     219739.63
Test RMSE:	     232970.15
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 44 features----------
Features added:	 {'NEIGHBORHOOD_QUEENS VILLAGE'}
Train MAE:	     156144.88
Test MAE:	     163055.36
Train RMSE:	     219696.93
Test RMSE:	     232816.11
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 45 features----------
Features added:	 {'BUILDING_CLASS_AT_PRESENT_B2'}
Train MAE:	     156143.40
Test MAE:	     163046.19
Train RMSE:	     219697.13
Test RMSE:	     232810.38
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 46 features----------
Features added:	 {'TAX_CLASS_AT_TIME_OF_SALE'}
Train MAE:	     156143.40
Test MAE:	     163046.19
Train RMSE:	     219697.13
Test RMSE:	     232810.38
------------------------------------------------------------
------------------------------------------------------------
----------Ridge Regression Metrics with 47 features----------
Features added:	 {'BUILDING_CLASS_CATEGORY_01 ONE FAMILY DWELLINGS'}
Train MAE:	     156143.40
Test MAE:	     163046.19
Train RMSE:	     219697.13
Test RMSE:	     232810.38
------------------------------------------------------------

In [22]:
min_RMSE

232810.38391252127

# VII. Communicate Results

In [30]:
print(best_model.coef_)
print(best_model.intercept_)

[-3.09652387e+05  3.33404812e+05  3.09375800e+05 -3.47342632e+05
  1.42144073e+04  4.75584543e+04  1.54389422e+05 -1.05313675e+05
 -8.75901897e+04 -1.22727711e+05  1.63713703e+05  2.05225265e+05
 -1.37528961e+05 -3.66564517e+04 -1.77963175e+05  9.68933187e+04
 -5.50263285e+04  5.50263285e+04 -2.69344858e+04 -1.06530184e+05
 -5.06109044e+04 -3.90634827e+04  5.50263285e+04 -3.40397769e+04
  6.02005465e+03 -1.45829665e+05 -7.86539602e+04  3.92045347e+03
  6.48446806e+04 -4.43076458e+02 -5.50263285e+04  1.85101788e+05
  1.30075460e+05  2.80170732e+01  1.68701456e+02  0.00000000e+00
 -2.69344858e+04  4.43169771e+04 -9.05279588e+03 -3.90634827e+04
  5.50263285e+04 -3.40397769e+04 -1.45829665e+05 -7.86539602e+04
  3.92045347e+03  6.48446806e+04]
5073601.359277787

In [33]:
print('-'*20 + 'model coefficients' + '-'*20)
print((' '*24 + 'Intercept: {:>10.2f}').format(best_model.intercept_))
for feature, coef in zip(best_features, best_model.coef_):
  print((' '*(40-len(feature))+feature+': {:>10.2f}').format(coef))
print(f'{len(best_model.coef_)} features')

--------------------model coefficients--------------------
                        Intercept: 5073601.36
            BUILDING_CLASS_AT_PRESENT_A6: -309652.39
            BUILDING_CLASS_AT_PRESENT_A2:  333404.81
   NEIGHBORHOOD_SO. JAMAICA-BAISLEY PARK:  309375.80
               TAX_CLASS_AT_TIME_OF_SALE: -347342.63
                  NEIGHBORHOOD_LAURELTON:   14214.41
       BUILDING_CLASS_AT_TIME_OF_SALE_A3:   47558.45
           NEIGHBORHOOD_SOUTH OZONE PARK:  154389.42
                    NEIGHBORHOOD_BAYSIDE: -105313.67
       BUILDING_CLASS_AT_TIME_OF_SALE_A4:  -87590.19
       BUILDING_CLASS_AT_TIME_OF_SALE_A9: -122727.71
                        LAND_SQUARE_FEET:  163713.70
       BUILDING_CLASS_AT_TIME_OF_SALE_A5:  205225.27
            BUILDING_CLASS_AT_PRESENT_A9: -137528.96
                        COMMERCIAL_UNITS:  -36656.45
            BUILDING_CLASS_AT_PRESENT_S1: -177963.17
                               BOROUGH_1:   96893.32
            BUILDING_CLASS_AT_PRESENT_A4:  -55026.33
             NEIGHBORHOOD_FLUSHING-NORTH:   55026.33
                       GROSS_SQUARE_FEET:  -26934.49
       BUILDING_CLASS_AT_TIME_OF_SALE_A8: -106530.18
       BUILDING_CLASS_AT_TIME_OF_SALE_A0:  -50610.90
                NEIGHBORHOOD_GREAT KILLS:  -39063.48
             NEIGHBORHOOD_FLUSHING-SOUTH:   55026.33
                             TOTAL_UNITS:  -34039.78
                               BOROUGH_5:    6020.05
                               BOROUGH_4: -145829.66
                               BOROUGH_2:  -78653.96
            BUILDING_CLASS_AT_PRESENT_A5:    3920.45
                 NEIGHBORHOOD_ST. ALBANS:   64844.68
                 TAX_CLASS_AT_PRESENT_1D:    -443.08
            BUILDING_CLASS_AT_PRESENT_A1:  -55026.33
             NEIGHBORHOOD_QUEENS VILLAGE:  185101.79
            BUILDING_CLASS_AT_PRESENT_B2:  130075.46
                                ZIP_CODE:      28.02
                               BOROUGH_3:     168.70
        NEIGHBORHOOD_SPRINGFIELD GARDENS:       0.00
       BUILDING_CLASS_AT_TIME_OF_SALE_S1:  -26934.49
            BUILDING_CLASS_AT_PRESENT_A8:   44316.98
       BUILDING_CLASS_AT_TIME_OF_SALE_A6:   -9052.80
       BUILDING_CLASS_AT_TIME_OF_SALE_A1:  -39063.48
                  TAX_CLASS_AT_PRESENT_1:   55026.33
                       RESIDENTIAL_UNITS:  -34039.78
       BUILDING_CLASS_AT_TIME_OF_SALE_A2: -145829.66
                      NEIGHBORHOOD_OTHER:  -78653.96
            BUILDING_CLASS_AT_PRESENT_A0:    3920.45
            BUILDING_CLASS_AT_PRESENT_A3:   64844.68
46 features